html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  display: block;
}
#instrucciones,#instrucciones2{
  width: 260px;
  height: 140px;
  background-image: url(recursos/pizarra.png);
  background-size: cover;
  position: absolute;
  top: 150px;
  left: 50px;
  z-index: 100;
  font-family: 'Indie Flower', cursive;
  color: white;
  padding-left: 20px;
  
}
#instrucciones2{
  top: 360px;
}
h2{
  margin: 10px;
}
img{
  width: 105px;
  position:absolute;
  right: 15px;
  top: 27px;
}
.izquierda{
  left: 25px;
  top: 37px;
  width: 95px;
}
.acomodo{
  left: 25px;
  top: 49px;
  width: 150px;
}
#titulo{
  width: 450px;
  position: absolute;
  top: 15%;
  left: 32%;
}
#derrota{
  width: 70%;
  height: 100vh;
  position: absolute;
  background-color: black;
  color: white;
  margin:  auto;
  left: 0%;
  right: 0%;
  text-align: center;
  display: none;
}
#derrota h1{
  font-size: 55px;
  position: absolute;
  width: 100%;
  height: 100vh;
  transform: translateY(35%);
  text-align: center;
}
#derrota div{

  width: 55%;
  position: absolute;
  transform: translateY(190%);
  text-align: center;
  border: 5px rgb(63, 16, 16) ridge;
  background-color: rgb(41, 39, 39);
  margin:  auto;
  left: 0%;
  right: 0%;
  padding: 80px;
}