html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  display: block;
}
#instrucciones,#instrucciones2,#stats{
  width: 260px;
  height: 140px;
  background-image: url(./recursos/pizarra.png);
  background-size: cover;
  position: absolute;
  top: 150px;
  left: 50px;
  z-index: 100;
  font-family: 'Indie Flower', cursive;
  color: white;
  padding-left: 20px;
  
}
#instrucciones2{
  top: 360px;
}
#stats{
  right: 150px;
  left: auto;
  top: 50px;
  height: 185px;
  padding-top: 10px;
  width: 300px;
}
#stats h3,#stats h2{
  margin: 2px;
}
h2{
  margin: 10px;
}
img{
  width: 105px;
  position:absolute;
  right: 15px;
  top: 27px;
}
.izquierda{
  left: 25px;
  top: 37px;
  width: 95px;
}
.acomodo{
  left: 25px;
  top: 49px;
  width: 150px;
}
#titulo{
  width: 450px;
  position: absolute;
  top: 15%;
  left: 32%;
}
#derrota{
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: black;
  color: white;
  margin:  auto;
  left: 0%;
  right: 0%;
  text-align: center;
  display: none;
  animation: perdiste 4.5s 1;
}
#derrota h1{
  font-size: 55px;
  position: absolute;
  width: 100%;
  height: 100vh;
  transform: translateY(35%);
  text-align: center;
  animation: ani2 2s 1;
}
#derrota div{

  width: 55%;
  position: absolute;
  transform: translateY(190%);
  text-align: center;
  border: 5px rgb(63, 16, 16) ridge;
  background-color: rgb(41, 39, 39);
  margin:  auto;
  left: 0%;
  right: 0%;
  padding: 80px;
}
@keyframes perdiste {
  0%{
    background-color: rgba(0, 0, 0, 0);
  }
  100%{
    background-color: black;
  }
}

@keyframes ani2 {
  0%{
    transform: translateY(0);
    color: rgba(0, 0, 0, 0);
  }
  100%{
    transform: translateY(50%);
    color: #ffffff;
  }
}
#celular {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#celular img{
  height: 50px;
  width: auto;
  position: relative;
}
#inicio {
  width: 100%;
  height:100vh;
  position: absolute;
  left:0;
  z-index: 200;
  text-align: center;
  background-image: url(./recursos/realloading.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  padding-top: 55px;
}
#inicio h1{
  font-size: 40px;
  font-family: "Irish Grover", system-ui;
}
#productos{
  display: none;
}
#producto1{
  top: 16%;
  left:10%;
  width: 6%;
}
#producto2{
  top: 1%;
  left:35%;
  width: 6%;
}
#producto3{
  top: 20%;
  left:50%;
  width: 6%;
}
#producto4{
  top: 60%;
  left:36%;
  width: 4%;
}
#producto5{
  top: 30%;
  left: 36%;
  width: 5%;
}
#producto6{
  top: 30%;
  left: 10%;
  width: 5%;
}
#producto7{
  top: 30%;
  left: 55%;
  width: 5%;
}
#vestir{ /*botón de gancho*/
  width: 50px;
  border-radius: 10px;
  top: 3%;
  left: 62%;
  border: solid black 3px;
}
#vestidor{
  position: absolute;
  display: none;
  width: 90%;
  height: 90vh;
  border-radius: 10px;
  top: 3%;
  left: 3%;
  border: solid black 3px;
  background-size: cover;
  box-shadow: 5px 5px 5px black;
  background-image: url(./recursos/purplewall.jpg);
  background-position: 50% 50%;
}
.cerrar{
  width: 50px;
  border-radius: 50px;
  box-shadow: 5px 5px 5px black;
}
#vestidor #categorias button{
  width: 150px;
  height: 150px;
  border-radius: 80px;
  box-shadow: 5px 5px 5px black;
  background:linear-gradient(135deg, rgb(209, 37, 209), #770a77, rgb(68, 13, 68),black) ;
  font-size: 25px;
  color: white;
}
.centrado{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
#objetos{
  display: none;
  height: 80%;
  justify-content: center;
  align-items: center;
}
.contenedor {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}
#carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.item {
  display: block;
  position: absolute;
  background: black;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: white;
  opacity: 0.95;
  border-radius: 10px;
  background-size: contain;
}
#tarjeta1 {
  transform: rotateY(0deg) translateZ(250px);
}
#tarjeta2 {
  transform: rotateY(60deg) translateZ(250px);
}
#tarjeta3 {
  transform: rotateY(120deg) translateZ(250px);
}
#tarjeta4 {
  transform: rotateY(180deg) translateZ(250px);
}
#tarjeta5 {
  transform: rotateY(240deg) translateZ(250px);
}
#tarjeta6 {
  transform: rotateY(300deg) translateZ(250px);
}
.siguiente{
  right: 50px;
}
.atras{
  left: 150px;
}
.siguiente, .atras {
  position: absolute;
  top: 150px;
}
.siguiente img, .atras img{
  background-color: #ffffff;
  border-radius: 200px;
}
#seleccionar {
  position: absolute;
  top: 50px;
  margin-right: 120px;
}
#quitar {
  position: absolute;
  top: 50px;
  margin-left: 120px;
}